In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('deliveries.csv')

In [3]:
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [4]:
data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
runs = data.groupby('batsman')

In [6]:
runs

In [7]:
runs.get_group("V Kohli")

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177522,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,7,V Kohli,AB de Villiers,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
177523,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,1,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
177524,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,2,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
177525,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,3,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
177527,11345,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,5,V Kohli,AB de Villiers,K Ahmed,0,...,0,0,0,0,0,0,0,V Kohli,caught,WP Saha

In [8]:
runs.get_group("V Kohli").shape

(4211, 21)

In [9]:
runs['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
V Kohli      5434
SK Raina     5415
RG Sharma    4914
DA Warner    4741
S Dhawan     4632
Name: batsman_runs, dtype: int64

In [10]:
runs['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [11]:
mask = data['batsman_runs']==4
print(mask)

0         False
1         False
2          True
3         False
4         False
          ...
179073    False
179074    False
179075    False
179076    False
179077    False
Name: batsman_runs, Length: 179078, dtype: bool

In [12]:
new_delivery = data[mask]

In [13]:
new_delivery.shape

(20392, 21)

In [14]:
new_delivery.shape[0]

20392

In [15]:
new_delivery.shape

(20392, 21)

In [16]:
mask = data['batsman_runs']==4
print(mask)

0         False
1         False
2          True
3         False
4         False
          ...
179073    False
179074    False
179075    False
179076    False
179077    False
Name: batsman_runs, Length: 179078, dtype: bool

In [17]:
new_delivery = data[mask]

In [18]:
new_delivery.shape

(20392, 21)

In [19]:
new_delivery.shape[0]

20392

In [20]:
new_delivery.groupby('batsman')

In [34]:
new_delivery.groupby('batsman')['batsman_runs'].count()

batsman
A Ashish Reddy     16
A Chopra            7
A Choudhary         1
A Flintoff          5
A Hales            13
                 ...
YK Pathan         264
YV Takawale        26
Yashpal Singh       5
Yuvraj Singh      218
Z Khan             11
Name: batsman_runs, Length: 410, dtype: int64

In [22]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
S Dhawan       526
SK Raina       495
G Gambhir      492
V Kohli        482
DA Warner      459
              ...
AN Ghosh         1
AG Murtaza       1
UA Birla         1
Umar Gul         1
A Choudhary      1
Name: batsman_runs, Length: 410, dtype: int64

In [23]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(5)

batsman
S Dhawan     526
SK Raina     495
G Gambhir    492
V Kohli      482
DA Warner    459
Name: batsman_runs, dtype: int64

In [39]:
vk= data[data['batsman']== 'V Kohli']

In [40]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Delhi Daredevils         763
Chennai Super Kings      749
Kolkata Knight Riders    675
Name: batsman_runs, dtype: int64

In [54]:
def run_scored(batsman_name):
    vk= data[data['batsman']== batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

In [55]:
run_scored('DA Warner')

bowling_team
Kolkata Knight Riders          835
Kings XI Punjab                833
Royal Challengers Bangalore    670
Name: batsman_runs, dtype: int64

In [ ]:
# The isin() function
1  # isin()
2  # Find the most destructive death over batsman in the history of IPL
3  # Strike Rate=(Number of runs/Number of balls)*100
4  # Min batsman 200 balls in over 16-20

In [58]:
# data['over']>15
# [data[data['over']>15]]
death_over = data[data['over']>15]

In [60]:
# data.groupby('batsman')['batsman_runs'].count()

# death_over.groupby('batsman')['batsman_runs'].count()

death_over.groupby('batsman')['batsman_runs'].count()>200

batsman
A Ashish Reddy    False
A Chandila        False
A Chopra          False
A Choudhary       False
A Dananjaya       False
                  ...
YS Chahal         False
YV Takawale       False
Yashpal Singh     False
Yuvraj Singh       True
Z Khan            False
Name: batsman_runs, Length: 465, dtype: bool

In [61]:
all_batsman = death_over.groupby('batsman')['batsman_runs'].count()
all_batsman

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Dananjaya         5
                 ...
YS Chahal          35
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      535
Z Khan            109
Name: batsman_runs, Length: 465, dtype: int64

In [65]:
x = all_batsman>20
all_batsman[x]

batsman
A Ashish Reddy     148
A Kumble            44
A Mishra           247
A Nehra             63
A Symonds          197
                  ...
Y Venugopal Rao    260
YK Pathan          732
YS Chahal           35
Yuvraj Singh       535
Z Khan             109
Name: batsman_runs, Length: 277, dtype: int64

In [66]:
all_batsman[x].shape

(277,)

In [67]:
all_batsman[x].index

Index(['A Ashish Reddy', 'A Kumble', 'A Mishra', 'A Nehra', 'A Symonds',
       'AA Bilakhia', 'AA Jhunjhunwala', 'AB Agarkar', 'AB Dinda',
       'AB McDonald',
       ...
       'WD Parnell', 'WP Saha', 'WPUJC Vaas', 'Washington Sundar', 'Y Nagar',
       'Y Venugopal Rao', 'YK Pathan', 'YS Chahal', 'Yuvraj Singh', 'Z Khan'],
      dtype='object', name='batsman', length=277)

In [70]:
batmans_list = all_batsman[x].index.tolist()

In [71]:
batmans_list

['A Ashish Reddy',
 'A Kumble',
 'A Mishra',
 'A Nehra',
 'A Symonds',
 'AA Bilakhia',
 'AA Jhunjhunwala',
 'AB Agarkar',
 'AB Dinda',
 'AB McDonald',
 'AB de Villiers',
 'AC Gilchrist',
 'AC Voges',
 'AD Mascarenhas',
 'AD Mathews',
 'AD Nath',
 'AD Russell',
 'AJ Finch',
 'AJ Tye',
 'AL Menaria',
 'AM Nayar',
 'AM Rahane',
 'AN Ahmed',
 'AP Dole',
 'AP Tare',
 'AR Patel',
 'AS Rajpoot',
 'AS Raut',
 'AS Yadav',
 'AT Rayudu',
 'Ankit Sharma',
 'Anureet Singh',
 'Azhar Mahmood',
 'B Akhil',
 'B Chipli',
 'B Kumar',
 'B Lee',
 'B Sumanth',
 'BA Stokes',
 'BB McCullum',
 'BB Samantray',
 'BCJ Cutting',
 'BJ Hodge',
 'BJ Rohrer',
 'Basil Thampi',
 'Bipul Sharma',
 'C Ingram',
 'C de Grandhomme',
 'CA Lynn',
 'CA Pujara',
 'CH Gayle',
 'CH Morris',
 'CJ Anderson',
 'CJ Ferguson',
 'CK Kapugedera',
 'CL White',
 'CM Gautam',
 'CR Brathwaite',
 'CR Woakes',
 'D Wiese',
 'DA Miller',
 'DA Warner',
 'DB Das',
 'DB Ravi Teja',
 'DE Bollinger',
 'DH Yagnik',
 'DJ Bravo',
 'DJ Hooda',
 'DJ Hussey',
 'DJG Sammy',
 'DL Vettori',
 'DPMD Jayawardene',
 'DR Smith',
 'DS Kulkarni',
 'DT Christian',
 'DW Steyn',
 'EJG Morgan',
 'F du Plessis',
 'FY Fazal',
 'G Gambhir',
 'GB Hogg',
 'GC Smith',
 'GH Vihari',
 'GJ Bailey',
 'GJ Maxwell',
 'Gurkeerat Singh',
 'H Klaasen',
 'HH Gibbs',
 'HH Pandya',
 'HM Amla',
 'HV Patel',
 'Harbhajan Singh',
 'I Sharma',
 'IK Pathan',
 'Imran Tahir',
 'Iqbal Abdulla',
 'Ishan Kishan',
 'J Archer',
 'J Botha',
 'J Suchith',
 'JA Morkel',
 'JC Buttler',
 'JD Ryder',
 'JD Unadkat',
 'JDP Oram',
 'JDS Neesham',
 'JEC Franklin',
 'JH Kallis',
 'JJ Bumrah',
 'JJ Roy',
 'JO Holder',
 'JP Duminy',
 'JP Faulkner',
 'JR Hopes',
 'Joginder Sharma',
 'K Goel',
 'K Gowtham',
 'K Paul',
 'K Rabada',
 'KA Pollard',
 'KB Arun Karthik',
 'KC Sangakkara',
 'KD Karthik',
 'KH Pandya',
 'KK Cooper',
 'KK Nair',
 'KL Rahul',
 'KM Jadhav',
 'KP Pietersen',
 'KS Williamson',
 'KV Sharma',
 'KW Richardson',
 'Kuldeep Yadav',
 'L Balaji',
 'LA Pomersbach',
 'LJ Wright',
 'LMP Simmons',
 'LR Shukla',
 'LRPL Taylor',
 'M Ali',
 'M Kaif',
 'M Kartik',
 'M Manhas',
 'M Markande',
 'M Morkel',
 'M Muralitharan',
 'M Rawat',
 'M Vijay',
 'M Vohra',
 'MA Agarwal',
 'MA Starc',
 'MC Henriques',
 'MEK Hussey',
 'MF Maharoof',
 'MG Johnson',
 'MJ McClenaghan',
 'MK Pandey',
 'MK Tiwary',
 'ML Hayden',
 'MM Patel',
 'MM Sharma',
 'MN van Wyk',
 'MP Stoinis',
 'MR Marsh',
 'MS Bisla',
 'MS Dhoni',
 'MS Gony',
 'MV Boucher',
 'Mandeep Singh',
 'Mohammad Nabi',
 'Mohammed Shami',
 'Mohammed Siraj',
 'N Pooran',
 'N Rana',
 'NLTC Perera',
 'NM Coulter-Nile',
 'NV Ojha',
 'Niraj Patel',
 'OA Shah',
 'P Dogra',
 'P Kumar',
 'P Negi',
 'PA Patel',
 'PC Valthaty',
 'PD Collingwood',
 'PJ Cummins',
 'PJ Sangwan',
 'PP Chawla',
 'PP Ojha',
 'PR Shah',
 'PV Tambe',
 'Q de Kock',
 'R Ashwin',
 'R Bhatia',
 'R Dhawan',
 'R Dravid',
 'R McLaren',
 'R Parag',
 'R Rampaul',
 'R Sathish',
 'R Sharma',
 'R Shukla',
 'R Tewatia',
 'R Vinay Kumar',
 'RA Jadeja',
 'RA Tripathi',
 'RE van der Merwe',
 'RG Sharma',
 'RJ Harris',
 'RN ten Doeschate',
 'RP Singh',
 'RR Pant',
 'RR Powar',
 'RS Bopara',
 'RV Gomez',
 'RV Uthappa',
 'Rashid Khan',
 'S Anirudha',
 'S Aravind',
 'S Badrinath',
 'S Curran',
 'S Dhawan',
 'S Gill',
 'S Gopal',
 'S Kaul',
 'S Nadeem',
 'S Rana',
 'S Rutherford',
 'S Sreesanth',
 'SA Yadav',
 'SB Bangar',
 'SB Jakati',
 'SB Styris',
 'SC Ganguly',
 'SD Chitnis',
 'SE Marsh',
 'SK Raina',
 'SK Trivedi',
 'SK Warne',
 'SL Malinga',
 'SM Pollock',
 'SN Khan',
 'SN Thakur',
 'SP Goswami',
 'SP Narine',
 'SPD Smith',
 'SR Tendulkar',
 'SR Watson',
 'SS Iyer',
 'SS Tiwary',
 'STR Binny',
 'SV Samson',
 'SW Billings',
 'Sachin Baby',
 'Sandeep Sharma',
 'Shakib Al Hasan',
 'TG Southee',
 'TL Suman',
 'TM Dilshan',
 'TM Head',
 'TR Birt',
 'UT Yadav',
 'V Kohli',
 'V Sehwag',
 'V Shankar',
 'VR Aaron',
 'WA Mota',
 'WD Parnell',
 'WP Saha',
 'WPUJC Vaas',
 'Washington Sundar',
 'Y Nagar',
 'Y Venugopal Rao',
 'YK Pathan',
 'YS Chahal',
 'Yuvraj Singh',
 'Z Khan']

In [79]:
# data['batsman']
data['batsman'].isin(batmans_list)

0         True
1         True
2         True
3         True
4         True
          ...
179073    True
179074    True
179075    True
179076    True
179077    True
Name: batsman, Length: 179078, dtype: bool

In [80]:
data[data['batsman'].isin(batmans_list)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [81]:
data[data['batsman'].isin(batmans_list)].shape

(168969, 21)

In [82]:
final = data[data['batsman'].isin(batmans_list)]

In [84]:
runs=final.groupby('batsman')['batsman_runs'].sum()

In [85]:
balls=final.groupby('batsman')['batsman_runs'].count()

In [86]:
sr = (runs/balls)*100

In [87]:
sr

batsman
A Ashish Reddy     142.857143
A Kumble            71.428571
A Mishra            89.756098
A Nehra             65.079365
A Symonds          124.711908
                      ...
Y Venugopal Rao    113.872832
YK Pathan          138.860326
YS Chahal           44.897959
Yuvraj Singh       125.283190
Z Khan              82.978723
Name: batsman_runs, Length: 277, dtype: float64

In [88]:
# The merge function